<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2xiAgBls9l5mTN7B0Kqq-EzP6c2dIWNU</string>
	<key>GCM_SENDER_ID</key>
	<string>145778819833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.funEducationApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fun-education-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fun-education-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145778819833:ios:786b314bfacff35f5ed828</string>
</dict>
</plist>